<template name="channelShow">
  <div class="sm-row">
    <div class="sm-col-left">
      <div class="sm-col-left-title">
        <div class="div">
          Craig's Chat
        </div>
      </div>
      {{> channelList}}
    </div>
    <div class="sm-col-middle">
      <div class="sm-col-middle-title clearfix">
        <div>{{$.Session.get 'selectBuyerName'}} </div>

        <div>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Launch demo modal
          </button>
        </div>
      </div>
      <div class="sm-col-middle-inner-wrap">
        <div class="sm-col-middle-left clearfix">
          <div class="message-wrap">
            {{#if $.Session.get 'currentChannelName'}}
            {{> addMessage channelId=_id}}
            {{> messageList}}
            {{/if}}
          </div>
        </div>

        <div class="sm-col-middle-right clearfix">
          {{> channelCard}}
          {{> buyerList}}
        </div>
      </div>
    </div>
  </div><!-- sm-row -->



  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Create Channel</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</template>
