<template name="buyerList">
  {{#if isSeller}}

  <div class="ui horizontal divider header">
    <i class="fa fa-users"></i>
  </div>
  <div class="ui middle aligned selection list buyer-list">
    {{#each buyers}}
      {{> buyerItem}}
    {{/each}}
  </div>
  {{/if }}
</template>

<template name="buyerItem">
    <div class="item buyer-item select-buyer {{active}}" data-buyer="{{buyer}}" data-buyername="{{buyerName}}">
      <div class="right floated content">
        <div class="delete-buyer"><i class="fa fa-times"></i></div>
      </div>
      <img class="ui avatar image" src="/avatar{{avatar}}.png">
      <div class="content">
        {{buyerName}}
      </div>
    </div>

    <h1>asdfads</h1>
    <h1>asdfads</h1>
    <h1>asdfads</h1>
    <h1>asdfads</h1>
    <h1>asdfads</h1>
    <h1>asdfads</h1>
    <h1>asdfads</h1>
</template>
