.buyer-wrap{
  height: $layout-content-height;
  padding: 0 15px;
}

.buyer-item{

  .image{
    width:32px;
  }

  &.active.item.select-buyer{
    border-left: 3px solid #9575cd;
    border-radius: 0px;
    background: #f4f0f9 !important;
  }

  &:hover .delete-buyer{
    opacity: 1;
  }

  .delete-buyer{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}

.buyer-list{
  overflow: auto;
  height:40%;
  padding-bottom: 50px;
}
