.buyer-item{

  .image{
    width:32px;
  }

  &.active.item.select-buyer{
    border-left: 3px solid #9575cd;
    border-radius: 0px;
    align-content: #f6f3fa;
  }

  &:hover .delete-buyer{
    opacity: 1;
  }

  .delete-buyer{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

}

.buyer-wrap{
  height:80vh;
}
.buyer-list{
  overflow: auto;
  height:49%;
}
