.selection.list.channel-list{
  margin-top: 0;

  .image{
    width:50px;
    height:50px;
  }

  a:hover,
  a:focus{
    text-decoration: none;
    border-radius: 0px;
  }

  .header{
    font-weight: normal;
  }

  .item.active.select-channel{
    border-radius: 0px;
    background-color: #eef7fd;
    @media only screen and (min-width : $bootstrap-screen-md) {
      border-left: 3px solid $main-color;
    }

  }
  .item.select-channel{
    border-radius: 0px;
    @media only screen and (max-width : $bootstrap-screen-md) {
      text-align: center;
    }
    @media only screen and (min-width : $bootstrap-screen-md) {
      display:flex;
    }
    .content{
      @media only screen and (max-width : $bootstrap-screen-md) {
        display: none;
      }
    }
  }
}


.form-inline{
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
  }

  .input-group{
    display:flex;
  }
  input[type="text"]{
    border:1px solid silver;
    border-radius: 3px;
    padding-left:10px;
    padding-right:10px;
  }
  .form-group{
    width:100%;
  }
}
