.dashboard-nav{
  justify-content: space-between;
  padding-right: 5px;

  .dashboard-icon{
    font-size:24px;
    color:#BBDEFB;

    &:hover{
      color: #64B5F6;
    }
  }

  .dashboard-icon.dashboard-signout{
    font-size:26px;
    color: #e0e0e0;
    cursor: pointer;

    &:hover{
      color: #bdbdbd;
    }

  }
}


.sm-col-middle-title{
  padding:0 20px;
  div{
    font-size: 28px;
  }
}

.dashboard-nav, .sm-col-middle-title{
  height:60px;
  border-bottom:1px solid whiteSmoke;
  display: flex;
  align-items: center;
}
