.dashboard-nav, .dashboard-header{
  height:$dashboard-title-height;
  border-bottom:1px solid $dashboard-border-light;
  display: flex;
  align-items: center;
}

.dashboard-icon{
  font-size:24px;
  color:#2962ff;
  cursor: pointer;

  &:hover{
    color: #64B5F6;
  }
}

.dashboard-nav{
  justify-content: space-between;
  padding-right: 5px;

  .dashboard-icon.dashboard-signout{
    font-size:26px;
    color: #e0e0e0;

    &:hover{
      color: #bdbdbd;
    }
  }

  @media only screen and (max-width : $bootstrap-screen-md) {
    .dashboard-signout, .dashboard-brand{
      display: none;
    }

    .dashboard-create-channel{
      margin: 0 auto;
    }
  }
}

.dashboard-header{
  padding:0 20px;

  .dashboard-header-title{
    font-size: 28px;
    flex-grow: 1;

  }

  .dashboard-header-info{

  }
}

.dashboard-loading{
  .loading-icon{
    font-size: 60px;
    color: silver;
    text-align: center;
    display: block;
    margin-top: 30vh;
  }
}
