body{
  overflow: hidden;
}
.sm-row{
  display:flex;
}

.sm-col-left{
  width: 15%;

  @media only screen and (min-width : $bootstrap-screen-sm) {
    width:20%;
  }
  @media only screen and (min-width : $bootstrap-screen-md) {
    width: 24%;
    padding-left: 10px;
  }
}

.sm-col-middle{
  width:100%;
  border-left: 1px solid $dashboard-border-dark;
}

.sm-col-middle-inner-wrap{
  display:flex;
}

.sm-col-middle-left, .sm-col-middle-right{
  padding-top:20px;
}

.sm-col-middle-left{
  width:60%;
}

.sm-col-middle-right{
  width:40%;
  padding:0 10px;
  border-left: 1px solid $dashboard-border-light;
}
