.message-list{
  height: 90%;
  padding-right: 20px;
  overflow:auto;

}

.message-bubble{
  background-color: #90caf9;
  padding:5px 10px;
  border-radius: 5px;
}

.message-line{
  margin-bottom: 8px;

  .inner-message-line{
    float:left;
    width:55%;
    & > div{
      float:left;
      clear:left;
    }
  }
  .message-bubble{
    float:left;
    font-size: 16px;
  }

  .timestamp{
    font-size: 12px;
    color: #E0E0E0;
    margin-top:3px;
  }
}

.my-message-line{

  .message-bubble{
    background-color: #e0e0e0;
  }

  .inner-message-line{
    float:right;

    & > div{
      float:right;
      clear:right;
    }
  }
}

.message-wrap{
  height:85vh;
  position:relative;


  // .more-message{
  //   background-color: #EE6E73;
  //   border-radius: 25px;
  //   text-align: center;
  //   position: absolute;
  //   cursor: pointer;
  //   margin-right: auto;
  //   left: 0;
  //   right: 0;
  //   margin-left: auto;
  //   bottom: 12%;
  //   width: 50%;
  //   padding: 2px 0;
  //   display:none;
  // }

}

.new-message.sm-divider{
  margin-bottom: 25px;
  span{
    color: #ec407a;
    &:before,
    &:after {
      border-top: 1px solid #F6A2AD;
      width:120%;
    }
  }
}



.add-message{
  position:absolute;
  bottom:0;
  background-color: white;
  width:95%;

  input[type="text"]{
    border:1px solid silver;
    border-radius: 3px;
    padding-left:10px;
    padding-right:10px;
  }
}
