.generated-link-wrap.form-inline{
  margin-top: 20px;

  .copy-text{
    background-color: white;
    border-color: $main-color;
    color:black;
  }
  .copy-link{
    background-color: $main-color;
    border:1px solid $main-color;
    width:20%;
    color:white;
    font-size: 20px;
  }
}
.craigslist-result{
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid #90CAF9;
  text-align: center;

  .craigslist-result-url{
    margin-top: 10px;
  }
}
.craigslist-result-title{
  font-size: 20px;
}
.craigslist-result-image{
  margin-top: 20px;
  img{
    width:250px;
  }
}

.generate-link-wrap{
  margin-top: 20px;
}

.modal-title{
  text-align: center;
  color:silver;
}

.modal-header{
  border-bottom: none;
}

.channel-create-trigger-model{
  background-color: white;
  border:none;

  &:focus{
    background-color: white;
  }
}
