// $primary-color: color("materialize-red", "lighten-2") !default;
// $primary-color-light: lighten($primary-color, 15%) !default;
// $primary-color-dark: darken($primary-color, 15%) !default;
// $secondary-color:;

// $success-color: ;
// $error-color: ;
// $link-color: ;
$main-color:#448AFF;
$button-color: $main-color;
$input-focus-color: $main-color;

$bootstrap-screen-sm:768px;
$bootstrap-screen-md:992px;
$bootstrap-screen-lg:1200px;

@import "materialize.scss";
@import "nav";
@import "authentication";
@import "semantic-list";
@import "semantic-divider";
@import "layout";
@import "message";
@import "channel";
@import "card";
@import "buyer";

.divider{
  background-color: white;

  i{
    color:#d1c4e9;
  }
}
