<template name="channelIndex">
  <div class="sm-row">
    <div class="sm-col-left">
      <div class="sm-col-left-title">
        <div class="sm-col-left-icon">
          <i class="fa fa-cog"></i>
        </div>
        <div class="">
          Chat-Ching
        </div>
        <div class="sm-col-left-icon">
          {{> channelCreateTriggerModel}}
        </div>
      </div>
      {{> channelList}}
    </div>
    <div class="sm-col-middle">
      <div class="sm-col-middle-title clearfix">
        <div>{{$.Session.get 'selectBuyerName'}} </div>
      </div>
      <div class="sm-col-middle-inner-wrap">
        <div class="sm-col-middle-left clearfix">
          <div class="message-wrap">
            {{#if $.Session.get 'currentChannelName'}}
            {{> addMessage channelId=_id}}
            {{> messageList}}
            {{/if}}
          </div>
        </div>

        <div class="sm-col-middle-right clearfix">
          <div class="buyer-wrap">
            {{> channelCard}}
            {{> buyerList}}
          </div>
        </div>
      </div>
    </div>
  </div><!-- sm-row -->

  <!-- Modal -->
  {{> channelCreate}}
</template>
