<template name="channelIndex">
  <div class="sm-row">
    <div class="sm-col-left">
      {{> dashboardNav}}
      {{> channelList}}
    </div>
    <div class="sm-col-middle">
      {{> dashboardHeader}}
      <div class="sm-col-middle-inner-wrap">
        <div class="sm-col-middle-left clearfix">
          <div class="message-wrap">
            {{#if $.Session.get 'currentChannelName'}}
            {{> messageList}}
            {{/if}}
          </div>
        </div>

        <div class="sm-col-middle-right clearfix">
          <div class="buyer-wrap">
            {{> channelCard}}
            {{> buyerList}}
          </div>
        </div>
      </div>
    </div>
  </div><!-- sm-row -->

  <!-- Modal -->
  {{> channelCreate}}
</template>
