<template name="channelCreate">
  <h1 class="page-header">Create Channel</h1>

  <form class="channel-create">
    <div class="form-group">
      <input type="text" class="form-control" name="list-link" placeholder="CraigsList">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>

    <button class="btn btn-default cancel-create-channel">Cancel</button>
  </form>
  <hr>

  {{#if craigslist}}
    <p>{{craigslist.title}}</p>
    <p><a href="{{craigslist.url}}" class="craigslist-url">{{craigslist.url}}</a></p>
    <img src="{{craigslist.image}}" alt="">
    <br><br>
    <p><button class="btn btn-default generate-link">Generate Link</button></p>
  {{/if}}


  {{#if $.Session.get 'craigslistId' }}
  <hr>

  <div class="panel panel-default">
    <div class="panel-body">
      <input type="text" class="copy-text" value="{{generatedLink}}" readonly="readonly">
      <button class="btn btn-default copy-link" type="button" data-clipboard-text={{generatedLink}}>Copy</button>
    </div>
  </div>
  {{/if}}



</template>
