<template name="messageList">
  {{#if Template.subscriptionsReady}}
    <ul class="message-list clearfix">
      {{#each messages}}
        {{> messageItem}}
      {{/each}}
    </ul>
  {{else}}
    <h2>Loading...</h2>
  {{/if}}
</template>

<template name="messageItem">
  <li class="message-line clearfix {{myMessage}}">
    <div class="inner-message-line">
      <div class="message-bubble">{{message}}</div>
      <div>
        <p class="timestamp"> {{timestamp}}</p>
        <!-- [<a href="#" class="delete-message">Delete</a>] -->
      </div>
    </div>
  </li>
</template>

<template name="addMessage">
  {{#if buyerNoMonologue}}
    <div class="add-message">
      <form>
        <input type="text" name="message" placeholder="Message..." autocomplete="off">
        <input type="hidden" name="channel" value={{channelId}}>
      </form>
    </div>
  {{/if }}
</template>
