<template name="messageList">
  {{> addMessage channelId=_id}}
  {{#if Template.subscriptionsReady}}
    <ul class="message-list clearfix">
      {{#each messages}}
        {{> messageItem}}
      {{/each}}
    </ul>
  {{else}}
    <h2>Loading...</h2>
  {{/if}}
</template>

<template name="messageItem">
  <li class="message-line clearfix {{myMessage}}">
    <div class="inner-message-line">
      <div class="message-bubble">{{#emojione}}{{message}}{{/emojione}}</div>
      <div>
        <p class="timestamp"> {{timestamp}}</p>
        <!-- [<a href="#" class="delete-message">Delete</a>] -->
      </div>
    </div>
  </li>
</template>

<template name="addMessage">
  <div class="add-message">
    {{#if buyerNoMonologue}}
    <form>
      <input type="text" name="message" placeholder="Message..." autocomplete="off">
      <input type="hidden" name="channel" value={{channelId}}>
    </form>
    {{/if }}
  </div>
</template>
