<template name="register">
  <h1 class="page-header">Register</h1>

  <form class="register">
    <div class="form-group">
      <input type="text" class="form-control" name="first-name" placeholder="First name">
    </div>

    <div class="form-group">
      <input type="email" class="form-control" name="email" placeholder="Email">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</template>
