<template name="register">

  <div class="register-wrap">
    <h1 class="page-header text-center">PP Chat</h1>

    <form class="register">
      <div class="form-group">
        <input type="text" class="form-control" name="first-name" placeholder="First name">
      </div>

      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default btn-block text-center">Submit</button>
    </form>
  </div>
</template>
