<template name="dashboard">
  <div class="body-wrap">
    {{> yield}}
  </div>
</template>

<template name="dashboardNav">
  <div class="dashboard-nav">
    <div class="dashboard-icon dashboard-signout">
      <i class="fa fa-sign-out fa-rotate-180"></i>
    </div>

    <div class="dashboard-brand">
      Chat-Ching
    </div>

    <div class="dashboard-icon dashboard-create-channel">
      {{> channelCreateTriggerModel}}
    </div>
  </div>
</template>

<template name="dashboardLoading">
  <div class="sm-row dashboard-loading">
    <div class="sm-col-left">
      {{> dashboardNav}}
      {{> channelList}}
    </div>
    <div class="sm-col-middle">
      {{> dashboardHeader}}
      <div class="sm-col-middle-inner-wrap">
        <div class="sm-col-middle-left clearfix">
          <div class="message-wrap">
            <!-- <i class="fa fa-spinner fa-spin loading-icon"></i> -->
          </div>
        </div>

        <div class="sm-col-middle-right clearfix">
          <div class="buyer-wrap">
            {{> channelCard}}
            <!-- {{> buyerList}} -->
          </div>
        </div>
      </div>
    </div>
  </div><!-- sm-row -->
</template>
