<template name="channelList">
  <div class="ui middle aligned selection list channel-list">
    {{#each channels}}
      {{> channelItem}}
    {{/each}}
  </div>
</template>

<template name="channelItem">
  <div class="item select-channel {{active}}">
    <img class="ui avatar image" src="{{image}}">
    <div class="content">
      <div class="header">{{name}}</div>
    </div>
  </div>
  <!-- <a href="#" class="delete-channel text-muted">Delete</a> -->
</template>

<template name="channelCard">
  {{#if $.Session.get 'currentChannelName'}}
  <div class="card">
    <div class="card-title text-center">{{$.Session.get 'currentChannelName'}}</div>

    <p class="truncate text-center"><a class="card-link" href="{{$.Session.get 'currentChannelUrl'}}">{{$.Session.get 'currentChannelUrl'}}</a></p>

    <div class="card-image">
      <img src="{{$.Session.get 'currentChannelImage'}}">
    </div>

    {{#if isOwner}}
    <div class="card-content">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control copy-text" value="{{channelLink}}" readonly="readonly">
            <button class="input-group-addon copy-link" type="button" data-clipboard-text={{channelLink}}><i class="fa fa-scissors"></i></button>
          </div>
        </div>
      </form>
    </div>
    {{/if}}
  </div>
  {{/if}}
</template>
