<template name="channelList">
  <div class="ui middle aligned selection list channel-list">
    {{#each channels}}
      {{> channelItem}}
    {{/each}}
  </div>
</template>

<template name="channelItem">
  <div class="item select-channel {{active}}">
    <img class="ui avatar image" src="{{image}}">
    <div class="content">
      <div class="header">{{name}}</div>
    </div>
  </div>
</template>

<template name="channelCard">
  {{#if $.Session.get 'currentChannelName'}}
  <div class="card">
    <div class="card-title">
      <div class="card-title-title {{#unless isOwner}}text-center{{/unless}}">{{$.Session.get 'currentChannelName'}}</div>

        <div class="dropdown">
          <div class="dropdown-toggle" id="delete-channel-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-cog"></i>
          </div>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="delete-channel-dropdown">
            {{#if isOwner}}
            <li><a href="#" id="delete-channel">Delete Channel</a></li>
            {{else}}
            <li><a href="#" id="leave-channel">Leave Channel</a></li>
            {{/if}}
          </ul>
        </div>
    </div>

    <p class="truncate text-center"><a class="card-link" href="{{$.Session.get 'currentChannelUrl'}}">{{$.Session.get 'currentChannelUrl'}}</a></p>

    <div class="card-image">
      <img src="{{$.Session.get 'currentChannelImage'}}">
    </div>

    {{#if isOwner}}
    <div class="card-content">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control copy-text" value="{{channelLink}}" readonly="readonly">
            <button class="input-group-addon copy-link" type="button" data-clipboard-text={{channelLink}} data-toggle="tooltip" data-title="Copied!" data-trigger="click">
              <i class="fa fa-scissors"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    {{/if}}
  </div>
  {{/if}}
</template>
